<footer class="bg-secondary text-white py-4 md:px-12 flex lg:flex-row justify-center md:justify-between items-center">
  <a href="index.html" class="me-4 lg:mb-0">
      <img src="./assets/images/logo_aac.png" alt="Logo" class="h-8 md:h-16 lg:h-16">
  </a>
  <div class="mx-auto hidden lg:flex space-x-6">
    <a href="index.html" class="text-white underline">Inicio</a>
    <a href="participantes.html" class="text-white underline">Participantes</a>
    <a href="#" class="text-white underline">Blog</a>
    <a href="ia.html" class="text-white underline">IA Generativa</a>
  </div>
  <div class="lg:mt-0 flex space-x-4">
    <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
    <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
    <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
