<div class="grid grid-rows-[auto_auto_auto_1fr] grid-cols-[1fr_1fr_1fr_auto] h-[100dvh]">
        
    <img src="{{event_picture}}" alt="{{title}}" class="row-start-1 row-end-3 col-start-1 col-end-[-1] max-w-full object-contain lg:row-span-full lg:col-span-full lg:self-end ">
    
    <div class="font-light row-start-1 col-span-3 col-end-4 lg:col-span-full lg:bg-secondary lg:row-start-unset lg:row-end-unset text-white text-5xl lg:[font-size:calc(1.625rem+4vw)] lg:leading-1 lg:py-2 text-center">
        {{title}} 
    </div>

    <div class="row-start-3 col-start-1 col-end-4 text-primary lg:text-white lg:text-3xl text-2xl font-medium leading-tight mt-0 mb-2">
        {{subtitle}} 
    </div>

    <div class="writing-mode-vertical-lr row-start-2 lg:row-start-unset lg:row-end-unset col-start-4 lg:col-span-full lg:[writing-mode:initial] lg:pt-5 lg:pb-36 bg-secondary text-white uppercase lg:text-lg font-medium">
        {{date}} 
    </div>

    <div class="row-start-4 col-start-2 mt-8">
      <a href="{{url_ref}}" class="btn-primary">
        {{text_button}}
      </a>
    </div>
</div>